<div class="text-center mt-4 mb-5">
    <a href="/users" class="btn btn-light mt-4">View All Users</a>
    <a href="/schedules" class="btn btn-light mt-4">View All Schedules</a>
    <a href="/users/new" class="btn btn-light mt-4">Add a New User</a>
    <a href="/schedules/new" class="btn btn-light mt-4">Add a New Schedule</a>
</div>